@import '@fontsource-variable/open-sans';
@import '@fontsource-variable/inter';
@import "tailwindcss";

@theme{
    --font-open: 'Open Sans Variable', sans-serif;
    --font-inter: 'Inter Variable', sans-serif;

}


@layer components{
    .articulo {
        @apply bg-white rounded-2xl overflow-hidden w-full shadow-lg hover:shadow-xl
        transition-shadow duration-500 border border-gray-100;
    }
    
     .btn-article {
      @apply px-4 py-2 text-sm font-semibold bg-blue-600 text-white rounded-md hover:bg-blue-700 
       transition-all duration-300 ease-in-out hover:-translate-y-1 ;
    }
    .boton-header {
      @apply relative text-black text-xl tracking-wide transition-all duration-300 hover:text-blue-400 
               after:content-[''] after:absolute after:left-0 after:bottom-[-4px] after:w-0 after:h-[2px] 
               after:bg-blue-400 hover:after:w-full after:transition-all after:duration-300
               block px-4 py-2;
    }
     
}